[submodule "ierg6130-assignment"]
	path = ierg6130-assignment
	url = https://github.com/cuhkrlcourse/ierg6130-assignment
[submodule "introRL"]
	path = introRL
	url = https://github.com/zhoubolei/introRL.git
